<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
		<link rel="stylesheet" href="css/list.css">
		<title>Available Listings</title>
	</head>
	<body>
		<div class="whole-viewport">
			<% include partials/nav %>
			<div class="row no-gutters" id="two-pane">
				<div class="col-md" id="map"></div>
				<div class="col-md" id="listings">
					<% for (let i = 0; i < docs.length; i++) { %>
					<div id="<%= docs[i].id %>" class="list-group">
					  <a href="listing/<%= docs[i].id %>" class="list-group-item list-group-item-action flex-column align-items-start">
					    <div class="d-flex w-100 justify-content-between">
					      <h5 class="price mb-1" style="text-transform: capitalize;">$<%= docs[i].price%> - <%= docs[i].saleType %></h5>
					      <small>Starting: <%= moment(docs[i].startPeriod).format('LL');%></small>
					    </div>
					    <p class="address mb-1"><%= docs[i].address%></p>
					    <% if (docs[i].saleType === 'sublet') { %>
							<small style="text-transform: capitalize;">Gender Preference: <%= docs[i].genderPreferred %></small>
					    <% } %>
					  </a>
					</div>
					<% } %>
				</div>
			</div>
		</div>
		<% include partials/scripts %>
		<script>
	      var map;
	      var markers = {};
	      var normalColor = 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png';
	      var hoverColor = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
	      function initMap() {
					map = new google.maps.Map(document.getElementById('map'), {
					  center: {lat: 42.056228, lng: -87.677177},
					  zoom: 15
					});

					<% for (let i = 0; i < docs.length; i++) { %>
						markers['<%= docs[i].id %>'] = new google.maps.Marker({
				      	position: {lat: <%=docs[i].loc.coordinates[0] %>, lng: <%=docs[i].loc.coordinates[1] %>},
				      	map: map,
				      	title: 'Hello World!',
				      	icon: normalColor,
						});
					<% } %>
	  	  }

			  $('.list-group').hover(function(event) {
			  	let id = $(this).attr('id');
			  	markers[id].setIcon(hoverColor);
			  }, function(event) {
			  	let id = $(this).attr('id');
			  	markers[id].setIcon(normalColor);
			  });
	  </script>
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-kBHXUoCNljHmmK6vjWEXv09zn1d_TKI&callback=initMap" async defer>
	  </script>
	</body>
</html>
