<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
		<link rel="stylesheet" href="css/list.css">
		<title>Available Listings</title>
	</head>
	<body>
		<div class="whole-viewport">
			<% include partials/nav %>
			<div class="row no-gutters" id="two-pane">
				<div class="col-md" id="map"></div>
				<div class="col-md" id="listings">
					<% for (let i = 0; i < docs.length; i++) { %>
					<div class="list-group">
					  <a href="listing/<%= docs[i].id %>" class="list-group-item list-group-item-action flex-column align-items-start">
					    <div class="d-flex w-100 justify-content-between">
					      <h5 class="price mb-1">$<%= docs[i].price%></h5>
					      <small><%= moment(docs[i].startPeriod).format('LL');%></small>
					    </div>
					    <p class="address mb-1"><%= docs[i].address%></p>
					    <small>Female Requested</small>
					  </a>
					</div>
					<% } %>
				</div>
			</div>
		</div>
		<script>
	      var map;
	      function initMap() {
	        map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat: 42.056228, lng: -87.677177},
	          zoom: 15
	        });
	        
	      var marker = new google.maps.Marker({
          position: {lat: <%=docs[0].loc.coordinates[0] %>, lng: <%=docs[0].loc.coordinates[1] %>},
          map: map,
          title: 'Hello World!'
        });
	      }


	  </script>
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-kBHXUoCNljHmmK6vjWEXv09zn1d_TKI&callback=initMap"
	  	async defer>
	  		
	  	</script>
		<% include partials/scripts %>
	</body>
</html>